.first-home-tooltip {
  min-width: 358px;
  max-width: 460px;
  min-height: 480px;
  padding: 5px 50px 20px;

  @media screen and (max-width: 557px) {
    min-width: 280px;
    margin-left: 5px !important;
    transform: translate(-50%);
    padding: 5px 15px 20px;
  }
}

.tooltips-fixed {
  .first-home-tooltip {
    @media screen and (min-width: 961px) {
      margin: 0 !important;
      transform: translate(-50%);
      left: 50% !important;
    }
  }
}


.home {
  .introjs-tooltipReferenceLayer {
    @media screen and (max-width: 960px) {
      top: 300px !important;
    }
  }
}

.step-two-mob {
  .introjs-tooltipReferenceLayer {
    @media screen and (max-width: 960px) {
      top: 115px !important;
    }
}
}

.home-tooltips {
  width: 358px;
  max-width: 460px;
  height: 314px;

  padding: 42px 50px 0;

  h1 {
    margin: 0 0 42px;
  }

  .introjs-bullets ul {
    margin-top: 20px;
  }

  @media screen and (max-width: 960px) {
    width: 258px;
    max-width: 460px;
    min-height: 270px;
    padding: 42px 20px;

    left: 50% !important;
    transform: translateX(-50%);
    margin: 0 !important;
  }
}

.step-legal {
  height: 300px;
  padding-top: 32px;
  top: 85px !important;

  p {
    margin-bottom: 0;
  }

  @media screen and (max-width: 960px) {
    top: -385px !important;
  }

  @media screen and (min-width: 961px) and (max-width: 1200px) {
    width: 275px;
    min-width: 275px;
    padding: 31px 15px 0;

  }
}

.step-guide {
  min-width: 325px;
  width: 360px;
  height: 300px;

  p {
    margin-bottom: 0;
  }

  padding: 31px 30px 0;
  top: 75px !important;

  @media screen and (max-width: 960px) {
    width: 258px;
    min-width: 258px;
    padding: 31px 20px 0;
    top: -345px !important;
  }

  @media screen and (min-width: 961px) and (max-width: 1200px) {
    width: 275px;
    min-width: 275px;
    padding: 31px 15px 0;

  }
}

.step-get-started {
  height: 220px;
  padding: 31px 30px 0;
  top: 105px !important;

  p {
    margin: 30px 0 0;
  }

  @media screen and (max-width: 960px) {
    padding: 31px 20px 0;
    min-height: 215px;
    top: -265px !important;
  }

}

#step5 {
  .introjs-showElement {
    background: #46b749;
  }
}