#result-page {
  .introjs-tooltipReferenceLayer {
    @media screen and (min-width: 1024px) {
      top: 400px !important;
    }
  }
}

.result-step {
  left: 50% !important;
  transform: translateX(-50%);
  margin-left: 0 !important;
  padding: 28px 30px 40px;

  h1 {
    font: 700 23px/23px 'Rambla', sans-serif;

    @media screen and (min-width: 768px){
      font: 700 30px/36px 'Rambla', sans-serif;
    }
  }

  p {
    font: 400 16px 'Rambla', sans-serif;
    @media screen and (min-width: 768px){
      font: 400 20px 'Rambla', sans-serif;

    }
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
    min-width: 1080px;
    height: 640px;
  }

  @media screen and (max-width: 400px) {
    margin-left: 5px !important;
    padding: 28px 10px 40px;
    width: 280px;
  }

  @media screen and (min-width: 400px) {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 400px) and (max-width: 957px) {
    margin: 0 !important;
  }

  @media screen and (min-width: 601px)and (max-width: 767px) {
    margin-top: 140px !important;
  }

  @media screen and (min-width: 768px) and (max-width: 957px) {
    margin-top: 240px !important;
  }

  @media screen and (min-width: 958px) and (max-width: 1139px) {
    width: 950px;
    min-width: 900px;
  }

  @media screen and (min-width: 958px) {
    margin-top: auto !important;
  }

  .hint-result {
    margin: 0 0 35px;
    padding: 0;
    list-style: none;
    overflow: hidden;

    li {
      width: 280px;
      min-height: 312px;
      float: left;

      h2 {
        font: 700 20px 'Rambla', sans-serif;
        letter-spacing: 1px;
        text-align: center;

        &.green {
          color: #84b818;
        }

        &.yellow {
          color: #f2c84b;
        }

        &.red {
          color: #d84b39;
        }
      }

      .bg-img {
        width: 245px;
        height: 191px;
        margin: 0 auto;
      }

      .bg-img-allowed {
        background: url("../images/allow.png");
        background-size: cover;
      }

      .bg-img-limit {
        background: url("../images/limitation.png");
        background-size: cover;
      }

      .bg-img-forbid {
        background: url("../images/forbidden.png");
        background-size: cover;
      }

      @media screen and (min-width: 958px) and (max-width: 1139px){
        width: 300px;
      }

      @media screen and (min-width: 1140px) {
        width: 340px;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      .bg-tooltip {
        width: 200px;
        height: 120px;
        background: url('../images/tooltip.png');
        background-size: cover;

        @media screen and (max-width: 1139px) {
          margin: 15px auto 0;
        }

        @media screen and (min-width: 1140px) {
          position: absolute;
          top: 368px;
          right: -55px;
        }
      }
    }
  }

  .introjs-skipbutton {
    border: none;
    background-image: none;
    text-shadow: none;
    text-decoration: none;

    width: 160px;
    height: 40px;

    border-radius: 100px;
    background-color: #ff9311;

    padding: 0;
    margin-top: 18px;
    text-align: center;

    color: #fff;
    font: 700 18px/2.3 'Rambla', sans-serif;
    letter-spacing: 1px;

    &:hover {
      box-shadow: none;
      background: darken(#ff9311, 5%);
    }
  }
}