.step-three {
  width: 361px;
  max-width: 460px;
  height: 300px;
  padding: 28px 47px 0;

  .introjs-bullets ul {
    margin-top: 5px;
  }

  @media screen and (max-width: 557px){
    width: 260px;
    min-height: 300px;
    padding: 28px 20px 35px;
  }
  
  .bg-icon-left {
    @media screen and (max-width: 951px){
      background: url("../images/arrow_down_icon.svg");
    }
  }
}

.tooltips-right {
  top: -100px !important;

  @media screen and (max-width: 951px){
    width: 300px;
    padding: 28px 15px 0;

    top: -340px !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
}

.share {
  @media screen and (min-width: 715px) and (max-width: 951px) {
    left: 25% !important;
  }
}

.step-three-hint1,
.step-three-hintlast {
  left: 50% !important;
  transform: translateX(-50%);
}

.step-three-hintlast {
  height: 230px;
  @media screen and (max-width: 557px) {
    min-height: 230px;
  }
}