.step-three {
  width: 361px;
  max-width: 460px;
  height: 300px;
  padding: 28px 47px 0;

  .introjs-bullets ul {
    margin-top: 5px;
  }

  @media screen and (max-width: 557px) {
    width: 260px;
    min-height: 300px;
    padding: 28px 20px 35px;
  }

  .bg-icon-left {
    @media screen and (max-width: 951px) {
      background: url("../images/arrow_down_icon.svg");
    }
  }
}

.tooltips-right {
  top: -100px !important;

  @media screen and (max-width: 951px) {
    width: 300px;
    left: 50% !important;
    transform: translateX(-50%);

    padding: 28px 15px 45px;
    top: -430px !important;

    height: auto !important;
    min-height: 100px !important;
  }

  @media screen and (max-width: 569px) {
    width: 260px;
  }
}

.share {
  @media screen and (min-width: 715px) and (max-width: 951px) {
    left: 25% !important;
  }

  @media screen and (max-width: 951px) {
    min-height: 305px;
  }

  @media screen and (max-width: 951px) {
    top: -400px !important;
  }
}

.step-three-hint1,
.step-three-hintlast {
  left: 50% !important;
  transform: translateX(-50%);
}

.step-three-hint1 {
  min-height: 325px;

  .introjs-prevbutton {
    display: none !important;
  }
}

.step-three-hintlast {
  height: 295px;
  min-height: 295px;

}

.protect-information {
  @media screen and (max-width: 951px) {
    min-height: 325px;
  }
}

.protect-information,
.share,
.step-three-hintlast {

  .introjs-prevbutton {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;

    border: none;
    background-image: none;
    text-shadow: none;

    width: 160px;
    height: 40px;

    border-radius: 100px;
    padding: 0;

    text-align: center;
    color: #fff;
    background: #ABAFB7;

    font: 700 18px/2.3 'Rambla', sans-serif;
    letter-spacing: 1px;

    &:hover {
      box-shadow: none;
      background: darken(#ABAFB7, 5%);
    }
  }
}

.protect-information,
.share {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  .introjs-tooltipbuttons {

    @media screen and (min-width: 952px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: initial;
      -ms-flex-direction: row;
      flex-direction: row;

      -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      justify-content: space-around;

      .introjs-prevbutton {
        margin: 0;
      }
    }

    @media screen and (max-width: 951px){
      .introjs-prevbutton {
        margin: 10px 0 0 0;
      }
    }
  }
}

.back-btn {
  .protect-information,
  .share {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .step-three-hintlast {
    height: 250px;
    min-height: 250px;
  }

  @media screen and (max-width: 951px) {
    .protect-information {
      top: -395px !important;
    }

    .share {
      top: -365px !important;
    }
  }
}