@import 'tether';
@import 'datatables';
@import 'font-awesome';
@import 'bootstrap';
@import 'rules';

.admin_content {
  @media only screen and (max-width: 600px) {
    #user_remember_me {
      width: auto !important;
      display: inline-block;
    }
  }
  #rules {
    tr td:nth-child(4) {
      .form-control {
        width: auto;
      }
    }
  }
  .rules_context_item_description {
    cursor: pointer;
    > i {
      margin-top: 1px;
    }
  }

  i {
    color: black;
    cursor: pointer;
  }

  .close-modal {
    font-size: 0.7em;
  }

  .logo {
    max-width: 100px;
  }

  .login-logo {
    max-width: 250px;
  }

  tr td:last-child {
    vertical-align: middle;
  }

  thead {
    background-color: #373A3C;
    color: #FFFFFF;
    padding: 10px 18px;
    border-bottom: 1px solid #111
  }

  #content {
    padding-left: 16px;
    padding-right: 16px;
  }

  h1 {
    font-size: 2rem;
    margin-top: 8px;
  }

  .padding-right-0 {
    padding-right: 0 !important;
  }

  td {
    padding-left: 18px !important;
  }

  .dataTables_paginate {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .vertical-center {
    display: inline-block;
    vertical-align: middle;
  }

  .modal-footer {
    .btn {
      margin-left: 6px;
    }
  }

  .text-center {
    text-align: center;
  }

  .main {
    margin-top: 75px;
  }

  #user_remember_me {
    margin-right: 6px;
  }

  .login-title {
    margin-top: 32px;
  }

  .rule {
    border: 1px black solid;
    margin: 5px;
  }

  .margin-left-6 {
    margin-left: 6px;
  }

  .context-item-limitation-icon {
    background: url('/limitation_context_icon.svg');
    background-size: 32.5px 32.5px;
    margin-right: 3px;
  }

  .context-item-restriction-icon {
    background: url('/restriction_context_icon.svg');
    background-size: 32.5px 32.5px;
  }
  .context-item-applicable-law-icon {
    background: url('/applicable_law_context_icon.svg');
    background-size: 32.5px 32.5px;
  }

  .context-item-limitation-icon_x {
    background: url('/limitation_context_icon.svg');
    background-size: 20px 22.38px;
    margin-right: 3px;
  }

  .context-item-restriction-icon_x {
    background: url('/restriction_context_icon.svg');
    background-size: 20px 22.38px;
    margin-right: 3px;
  }

  .preview-context-item-applicable-law-icon {
    background: url('/preview_applicable_law_context_icon.svg');
    background-size: 20px 22.38px;
  }

  .ca-2x {
    width: 32.5px;
    height: 32.5px;
  }

  .ca-x {
    width: 20px;
    height: 22.38px;
  }

  .skip-padding-right {
    padding-right: 0;
  }

  @media screen and (min-width: 1170px) {
    .pull-xs-right {
      padding-right: 10px;
    }
    .skip-padding-right {
      margin-top: 6px;
      padding-right: 15px;
    }
  }
}
