@import 'tether';
@import 'datatables';
@import 'font-awesome';
@import 'bootstrap';
@import 'rules';

.admin_content {
  .rules_context_item_description {
    cursor: pointer;
  }

  i {
    color: black;
    cursor: pointer;
  }

  .close-modal {
    font-size: 0.7em;
  }

  .logo {
    max-width: 100px;
  }

  .login-logo {
    max-width: 250px;
  }

  tr td:last-child {
    vertical-align:middle;
  }

  thead {
    background-color: #373A3C;
    color: #FFFFFF;
  }

  #content {
    padding-left: 16px;
    padding-right: 16px;
  }

  h1 {
    font-size: 2rem;
    margin-top: 8px;
  }

  .padding-right-0 {
    padding-right: 0 !important;
  }

  td {
    padding-left: 18px !important;
  }

  .dataTables_paginate {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .vertical-center {
      display: inline-block;
      vertical-align: middle;
      float: none;
  }

  .modal-footer {
    .btn {
      margin-left: 6px;
    }
  }

  .text-center {
    text-align: center;
  }

  .main {
    margin-top: 75px;
  }

  #user_remember_me {
    margin-right: 6px;
  }

  .login-title {
    margin-top: 32px;
  }
}
