development:
  SECRET_KEY_BASE: f98fb7788687194e9545f1902315d295c51cf14a609aa6933c53afd3e5b51b06e00b1880ea8f9f9385c163b4e8bbff99756a2fec11f288f95b23f3490928f143
  ACTION_MAILER_ADDRESS: smtp.gmail.com
  ACTION_MAILER_DOMAIN: example.com
  ACTION_MAILER_USER_NAME: somelogin@gmail.com
  ACTION_MAILER_PASSWORD: somepassword
  ACTION_MAILER_AUTHENTICATION: plain
  ACTION_MAILER_URL_HOST: localhost
  ACTION_MAILER_URL_PORT: '3000'
