@import 'fonts';
@import 'result_page';

#header {
  width:100%;
  overflow: hidden;
  height: 240px;
  background-color: #06385b;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;

  .logo {
    cursor: pointer;
    margin: 26px 0px;

    img {
      max-width: 253px;
      max-height: 66px;
    }
  }

  .title {
    margin: 0px;
    font-size: 50px;
  }

  .description {
    margin: 0px;
    font-size: 17px;
    max-height: 44px;
    max-width: 960px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f9;
}

header, main {
  display: block;

  @media only screen and (max-width: 600px) {
    padding: 0 15px;
  }
}

* {
  box-sizing: border-box;
}

body {
  > header {
    background-color: #013152;
    text-align: center;
    padding-bottom: 1px;

    > a > img {
      width: 253px;
      margin: 26px auto 0 auto;
    }
    > h1 {
      margin: 26px auto 0 auto;
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 50px;
      font-weight: 500;
      letter-spacing: 1.57px;
      line-height: 63px;
    }
    > p {
      margin: 15px auto 47px auto;
      padding: 0 10px;
      max-width: 950px;
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 17px;
      font-weight: 300;
      letter-spacing: 0.53px;
      line-height: 22px;
    }
  }

  > main {
    .nav-wrapper {
      max-width: 934px;
      margin: 1px auto;
      padding: 20px 0 10px 0;
      overflow: hidden;

      > nav {
        height: 40px;
        border-bottom: solid 2px #d9dbe3;
        margin: auto;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        > section, .section {
          text-decoration: none;

          @media only screen and (max-width: 600px) {
            font-size: 12px;
            line-height: 12px;
          }

          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;


          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;

          padding-bottom: 8px;


          height: 40px;
          color: #c6c8cf;
          text-align: center;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 14px;
          font-weight: 400;

          letter-spacing: 0.44px;
          line-height: 18px;
          //margin-top: 20px;
          position: relative;
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 34px;
            left: 50%;
            transform: translateX(-50%);
            width: 12px;
            height: 12px;
            background-color: #d9dbe3;
            border-radius: 12px;
          }

          &.active {
            font-weight: 700;
            color: #3e9cdd;
            &:nth-child(2){
              &:after {
                background-color: #944487;
              }
            }
            &:nth-child(3){
              &:after {
                background-color: #636975;
              }
            }
            &:nth-child(4){
              &:after {
                background-color: #3b867b;
              }
              &:before {
                right: -200%;
                width: 2000px;
              }
            }

            &:after {
              background-color: #3b5ab0;
              z-index: 2;
            }
            &:before {
              z-index: 1;
              content: '';
              display: block;
              position: absolute;
              top: 38px;
              right: 50%;
              width: 1000px;
              height: 2px;
              background-color: #3e9cdd;
            }
          }
        }
      }
    }

    .content {
      text-align: center;
      max-width: 952px;
      margin: auto;
      > h1 {
        color: #06385b;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0.88px;
        line-height: 36px;
      }
      > p {
        color: #06385b;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0.53px;
        line-height: 22px;
      }

      .container-categories {
        text-align: left;

        @media only screen and (max-width: 600px) {
          text-align: center !important;
        }

        > label {
          display: inline-block;
          margin: 10px;
          width: 218px;

          @media only screen and (max-width: 600px) {
            width: auto;
            display: block;
          }

          height: 116px;
          overflow: hidden;
          > input {
            display: none;
          }

          > input[type=checkbox]:checked + div {
            > p {
              color: white;
            }
          }

          > input.category-checkbox[type=checkbox]:checked + div {
            background-color: #2f4993;
          }

          > input.pii-checkbox[type=checkbox]:checked + div {
            background-color: #823e77;
          }

          > input.use-item-checkbox[type=checkbox]:checked + div {
            background-color: #5a5f69;
          }

          > div {
            text-align: center;
            cursor: pointer;
            background-color: white;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 0 25px;
            > p {
              color: #333;
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 17px;
              font-weight: 400;
              letter-spacing: 0.53px;
              line-height: 22px;
            }
          }
        }

      }
      .actions {
        @media only screen and (max-width: 600px) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
                  flex-direction: column-reverse;
          -webkit-box-align: center;
          -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
                  justify-content: center;
        }

        .submit-button {
          -webkit-appearance: none;
          border-radius: 0px;

          cursor: pointer;
          margin: 20px 0 50px 10px;
          width: 160px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background-color: #3e9cdd;
          color: white;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0.53px;
          outline: none;
          box-shadow: none;
          border: none;
          padding: 0;

          &:disabled {
            background-color: #5a5f69;
            cursor: initial;
          }

          @media only screen and (max-width: 600px) {
            margin: 20px 0 10px 0;
          }

        }

        .back-button {
          text-decoration: none;
          cursor: pointer;
          margin: 20px 10px 50px 0;
          width: 160px;
          height: 40px;
          padding: auto;
          line-height: 40px;
          text-align: center;
          background-color: #3e9cdd;
          color: white;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0.53px;
          outline: none;
          box-shadow: none;
          border: none;
          display: inline-block;

          @media only screen and (max-width: 600px) {
            margin: 20px 0 10px 0;
          }
        }
      }
    }

  }
}




