@import 'admin/base';

#header {
  width:100%;
  overflow: hidden;
  height: 240px;
  background-color: #06385b;
}

.rule {
  border: 1px black solid;
  margin: 5px;
}

.margin-left-6 {
  margin-left: 6px;
}
