.home-content {
  padding: 35px 15px 80px;
  background: #fff;

  @media screen and (max-width: 600px) {
    margin: 0 -15px;
  }

  .home-container {
    max-width: 1170px;
    margin: 0 auto 35px;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      vertical-align: top;
      background-color: #f5f4f4;
      color: #424141;

      letter-spacing: 0.66px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 21px;

      a {
        font-weight: 400;
        color: #424141;
        margin: 0 5px 0 5px;
      }

      bold {
        color: #424141;
        font-weight: 600;
      }

      .actions {
        position: absolute;
        bottom: 75px;
        transform: translateX(50%);
        right: 50%;

        a {
          display: inline-block;
          width: 200px;
          height: 50px;
          border: 2px solid #6d7280;
          text-align: center;

          color: #6d7280;
          text-decoration: none;
          font-size: 20px;
          font-weight: 600;
          line-height: 2.3;
          letter-spacing: 0.63px;
          text-transform: uppercase;
        }

        &:hover a {
          background-color: #6d727f;
          color: #fff;
        }
      }

      &:first-child {
        .actions a {
          border: 2px solid #989CA5;
          color: #8F939B;
          width: 230px;

          &:hover {
            background: #989CA5;
            color: #fff;
          }
        }
      }

      &:last-child {
        background-color: #46b749;
        color: white;

        a {
          color: #fff;
        }

        .start-over-button {
          border: 2px solid #fff;
          color: white;
          margin: 0 auto;

          display: inline-block;
          width: 200px;
          height: 50px;
          text-align: center;

          text-decoration: none;
          font-size: 20px;
          font-weight: 600;
          line-height: 2.3;
          letter-spacing: 0.63px;
          text-transform: uppercase;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &:hover {
            background: #fff;
            color: #46b749;
          }
        }
      }

      @media screen and (max-width: 439px) {
        height: 540px;
        margin-bottom: 20px;
        padding: 15px 20px 0;
      }

      @media screen and (min-width: 440px) {
        width: 384px;
        height: 467px;
        margin: 0 auto 20px;
        padding: 30px 32px 0;
      }

      @media screen and (min-width: 950px) {
        display: inline-block;
        width: 32.68%;
        height: 550px;
        margin-right: 9px;

        &:last-child {
          margin-right: 0;
        }
      }

      @media screen and (min-width: 1200px) {
        width: 384px;
        height: 467px;
      }
    }
  }
}