
.content > .container-description {
  max-width: 748px;
  text-align: left;
  margin: 30px auto 30px auto;
  padding: 24px 24px 16px 24px;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  letter-spacing: 0.63px;
  line-height: 25px;
  margin-bottom: 80px;

  > p {
    margin: 0 0 22px 0;
    > bold {
      color: #424141;
      font-weight: 600;
    }
    > a {
      font-weight: 400;
      color: #3e9cdd;
      margin: 0 5px 0 5px;

      &.next-page {
        font-weight: 600;
      }
    }
  }

  > .actions {
    text-align: center;

    .legal-disclaimer {
      background: #989CA5;
    }
  }
}
