body {
  .search.icon {
    color: #000;
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    border: solid 1px currentColor;
    border-radius: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .search.icon:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 5px;
    height: 6px;
    width: 1px;
    background-color: currentColor;
  }

  > header {
    background-color: #013152;
    text-align: center;
    padding-bottom: 1px;

    > img {
      width: 253px;
      margin: 26px auto 0 auto;
    }
    > h1 {
      margin: 26px auto 0 auto;
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 1.57px;
      line-height: 63px;
    }
    > p {
      margin: 15px auto 47px auto;
      padding: 0 10px;
      max-width: 950px;
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 17px;
      font-weight: 300;
      letter-spacing: 0.53px;
      line-height: 22px;
    }
  }

  > main {

    .content {
      max-width: 950px;
      margin: auto;
      > h1 {
        color: #06385b;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0.88px;
        line-height: 36px;
      }
      > p {
        color: #06385b;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0.53px;
        line-height: 22px;
      }

      .container-result {

        @media screen and (min-width: 715px) and (max-width: 951px) {
          .allowed, .limitations, .forbidden {
            max-width: 715px;
            margin: 0 auto;
          }
        }

        @media screen and (min-width: 601px) and (max-width: 714px) {
          .allowed, .limitations, .forbidden {
            max-width: 476px;
            margin: 0 auto;
          }
        }

        .allowed, .limitations, .forbidden {
          background-color: #c8cbd6;

          @media screen and (max-width: 600px){
            .list {
              height: auto !important;
            }
          }
          .header {
            height: 50px;
            background-color: #37475F;
            line-height: 50px;
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 21px;
            font-weight: 600;
            letter-spacing: 0.66px;
            padding: 0 0 0 44px;
            margin: 28px 0 0 0;
            background-position: left 10px center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            text-align: left;
          }

          .info {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;

            width: 20px;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-image: url('/info_icon_large.svg');

            .tooltip {
              display: none;
            }
            &:hover {
              background-image: url('/info_icon_large.svg');
            }
            &.active {
              background-image: url('/info_icon_large.svg');

              .tooltip {
                background-color: #FFFFB5;
                z-index: 100;
                display: block;
                position: absolute;
                top: 23px;
                left: 3px;
                padding: 10px 10px 15px 20px;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
                width: 264px;

                @media only screen and (max-width: 600px) {
                  width: 238px;
                  left: -203px;
                  padding: 10px 10px 15px 10px;

                }

                &:before {
                  display: block;
                  transform: rotate(45deg);
                  content: '';
                  position: absolute;
                  top: -5px;
                  left: 2.5px;
                  width: 10px;
                  height: 10px;
                  background-color: #FFFFB5;

                  @media only screen and (max-width: 600px) {
                    right: 24px;
                    left: auto;
                  }

                }

                h3 {
                  color: #333;
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 17px;
                  font-weight: 600;
                  letter-spacing: 0.53px;
                  line-height: 18px;
                  margin: 0 30px;
                  padding: 0 0 5px 0;
                  white-space: nowrap;
                }

                > h4 {
                  color: #333;
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 12px;
                  font-weight: 600;
                  letter-spacing: 0.38px;
                  line-height: 15px;
                  margin: 0;
                  padding: 0;
                  white-space: nowrap;
                  text-align: left;
                }
                > .links {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  -webkit-box-align: start;
                  -ms-flex-align: start;
                  align-items: flex-start;

                  a > span {
                    margin-left: 20px;
                  }

                  a.google-it {
                    margin-left: 14px;
                  }

                  .search.icon {
                    margin-top: 4px;
                    border-color: #3e9cdd;
                    color: #3e9cdd
                  }

                  .applicable-law-info {
                    padding: auto;
                    max-width: 170px;
                    > a {
                      max-width: 150px;
                      -ms-word-break: break-all;
                      word-break: break-all;
                      word-break: break-word;

                      -webkit-hyphens: auto;
                      -moz-hyphens: auto;
                      hyphens: auto;
                      white-space: normal;
                    }

                    > .description {
                      color: #333;
                      font-family: 'Source Sans Pro', sans-serif;
                      font-size: 12px;
                      font-weight: 400;
                      letter-spacing: 0.53px;
                      line-height: 18px;

                      text-align: left;
                      padding-bottom: 5px;
                    }

                  }

                  > a, .applicable-law-info > a {
                    text-align: left;
                    display: block;
                    color: #3e9cdd;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.01px;
                    line-height: 18px;
                    text-decoration: underline;
                    white-space: nowrap;
                  }
                }
              }

              &.mirror {
                .tooltip {
                  width: 238px;
                  left: -199px;
                  padding: 10px 10px 15px 10px;

                  &:before {
                    right: 24px;
                    left: auto;
                  }
                }
              }

            }
          }

          ul {
            list-style: none;
            text-align: left;
            margin: 20px 0 0 0;
            padding: 0 0 0 10px;
            > li {
              &.restriction-item {
                background-image: url('/restriction-iocn-copy.svg');
              }

              font-family: 'Source Sans Pro', sans-serif;
              font-size: 14px;
              font-weight: 400;
              letter-spacing: 0.01px;
              line-height: 18px;
              padding: 0 0 0 20px;
              position: relative;

              &:before {
                position: absolute;
                width: 13px;
                height: 13px;
                left: 0;
                top: 4px;
                content: url('/limitation-icon-copy.svg');
              }

            }
          }

          .list {
            @media only screen and (max-width: 600px) {
              text-align: center !important;
            }

            > .block {
              @media only screen and (max-width: 600px) {
                float: none !important;
                position: inherit !important;
                top: 0 !important;
                left: 0 !important;

                min-height: 140px !important;
              }
            }
          }

        }
        .allowed {
          .header {
            background-image: url('/no-restriction-group-icon.svg');
            @media screen and (max-width: 500px){
              font-size: 13px;
              line-height: 1.5;
              padding-top: 5px
            }

            @media screen and (max-width: 714px) {
              font-size: 13px;
            }
          }
          .list {
            padding: 10px;
            margin: 0 auto;

            &:after {
              display: block;
              content: '';
              clear: both;
            }

            > .block {
              float: left;
              width: 218px;
              min-height: 116px;

              margin-bottom: 20px;
              padding: 30px 10px 10px;

              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;

              -webkit-flex-direction: column;
              -moz-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;

              -moz-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;

              background-color: white;
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);

              @media screen and (max-width: 600px) {
                padding: 35px 10px 10px;
                width: 100%;
                max-width: 476px;
                margin: 10px auto 10px;

              }

              > .wrapper {
                padding: 0 10px;
                > h3 {
                  margin: 0;
                  padding: 0;
                  color: #333;
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 17px;
                  font-weight: 600;
                  letter-spacing: 0.53px;
                  line-height: 22px;
                }
                > p {
                  margin: 4px 0 0 0;
                  padding: 0;
                  color: #333;
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 12px;
                  font-weight: 400;
                  letter-spacing: 0.38px;
                  line-height: 15px;
                }
              }
            }
          }

        }

        .limitations {
          .header {
            background-image: url('/no-restriction-group-icon-copy.svg');
          }
        }
        .forbidden {
          .header {
            background-image: url('/no-restriction-group-icon-copy-2.svg');
          }
        }

        .limitations, .forbidden {
          .list {
            padding: 10px;

            &:after {
              display: block;
              content: '';
              clear: both;
            }

            > .block {
              position: relative;

              float: left;
              width: 218px;
              min-height: 116px;

              margin-bottom: 20px;
              padding: 30px 10px 10px;

              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;

              -webkit-flex-direction: column;
              -moz-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;

              -moz-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;

              background-color: white;
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);

              @media screen and (max-width: 600px) {
                padding: 35px 10px 10px;
                width: 100%;
                max-width: 476px;
                margin: 10px auto 10px;

              }

              > .wrapper {
                > h3 {
                  margin: 0;
                  padding: 0;
                  color: #333;
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 17px;
                  font-weight: 600;
                  letter-spacing: 0.53px;
                  line-height: 22px;
                }
                > p {
                  margin: 4px 0 0 0;
                  padding: 0;
                  color: #333;
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 12px;
                  font-weight: 400;
                  letter-spacing: 0.38px;
                  line-height: 15px;
                }
              }
            }
          }

        }

        .filter-result {
          #filter > p {
            display: inline-block;

            &:first-child {
              margin-right: 40px;
            }
          }
        }


        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
          position: absolute;
          left: -9999px;
        }
        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label {
          position: relative;
          padding-left: 25px;
          cursor: pointer;

          color: #333;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 17px;
          font-weight: 600;
        }


        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
          content: '';
          position: absolute;
          left:0;
          top: 2px;
          width: 17px;
          height: 17px;
          border: 1px solid #aaa;
          background: #fff;
        }

        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
          content: url('/tick-icon.svg');
          position: absolute;
          top: 4px;
          left: 2px;
          font-size: 18px;
          line-height: 0.8;
          color: #4CB934;
          transition: all .2s;
        }

        [type="checkbox"]:not(:checked) + label:after {
          opacity: 0;
          transform: scale(0);
        }
        [type="checkbox"]:checked + label:after {
          opacity: 1;
          transform: scale(1);
        }

      }

      .actions {
        @media only screen and (max-width: 600px) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }

        .action-button {
          text-decoration: none;
          cursor: pointer;
          margin: 20px 10px 50px 0;
          width: 160px;
          height: 40px;
          padding: auto;
          line-height: 40px;
          text-align: center;
          color: white;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0.53px;
          outline: none;
          box-shadow: none;
          border: none;
          display: inline-block;

          @media only screen and (max-width: 600px) {
            margin: 20px 0 10px 0;
          }

          &.user-guide-button {
            background-color: #6D727F;
            @media screen and (min-width: 601px) {
              margin-right: 25px;
              margin-bottom: 10px;
            }
          }

          &.start-over-button {
            background-color: #46B749;
            margin-right: 0;

            @media screen and (min-width: 601px) {
              margin-bottom: 10px;
            }
          }
        }

        .feedback-block {
          margin-top: 15px;

          @media screen and (max-width: 600px){
            margin-top: 20px;
          }

          .feedback-button {
            display: inline-block;
            width: 160px;
            height: 40px;

            text-align: center;
            background-color: #6D727F;
            color: white;
            font: 500 17px/40px 'Source Sans Pro', sans-serif;

            letter-spacing: 0.53px;
            outline: none;
            box-shadow: none;
            border: none;

            text-decoration: none;
            cursor: pointer;
          }
        }

      }
    }

  }
}


