.container-result {
  .allowed, .limitations, .forbidden {
    background-color: #e7e8ee;
    .header {
      height: 50px;
      background-color: #094d7c;
      line-height: 50px;
      color: white;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 21px;
      font-weight: 600;
      letter-spacing: 0.66px;
      padding: 0 0 0 44px;
      margin: 28px 0 0 0;
      background-position: left 10px center;
      background-repeat: no-repeat;
      background-size: 17px 17px;
      text-align: left;
    }
  }

  .allowed {
    background-color: #e7e8ee;
    .header {
      background-image: url('/no-restriction-group-icon.png');
    }
    .list {
      padding: 10px 0;

      &:after {
        display: block;
        content: '';
        clear: both;
      }

      > .block {
        float: left;
        margin: 10px;
        width: 218px;
        height: 116px;
        background-color: white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        > .wrapper {
          padding: 0 10px;
          > h1 {
            margin: 0;
            padding: 0;
            color: #333;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 0.53px;
            line-height: 22px;
          }
          > p {
            margin: 4px 0 0 0;
            padding: 0;
            color: #333;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.38px;
            line-height: 15px;
          }
        }
      }
    }

  }

  .limitations, .forbidden {
    background-color: #e7e8ee;
    .header {
      background-image: url('/no-restriction-group-icon-copy.png');
    }
    .list {
      padding: 10px 0;
      &:after {
        display: block;
        content: '';
        clear: both;
      }

      > .block {
        float: left;
        margin: 10px;
        width: 218px;
        background-color: white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
        padding: 20px 10px;
        > h1 {
          margin: 0;
          padding: 0;
          color: #333;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 17px;
          font-weight: 600;
          letter-spacing: 0.53px;
          line-height: 22px;
        }
        > p {
          margin: 4px 0 0 0;
          padding: 0;
          color: #333;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.38px;
          line-height: 15px;
        }
        > ul {
          list-style: none;
          text-align: left;
          margin: 20px 0 0 0;
          padding: 0 0 0 10px;
          > li {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.01px;
            line-height: 18px;
            padding: 0 0 0 20px;

            background-position: left center;
            background-repeat: no-repeat;
            background-size: 13px 13px;
            background-image: url('/limitation-icon-copy.png');

          }
        }
      }
    }

  }

}
